<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication3.app" >
    package="com.example.simon.myapplication">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TouchSampler"
            android:label="@string/title_activity_touch_sampler"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Vertical"
            android:label="@string/title_activity_vertical"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".KeyboardPort"
            android:label="@string/title_activity_keyboard_port"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KeyboardLand"
            android:label="@string/title_activity_keyboard_land"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
>
        </activity>
        <activity
            android:name=".ThankYou"
            android:label="@string/title_activity_thank_you" >
        </activity>
        <activity
            android:name=".KeyboardPort2"
            android:label="@string/title_activity_keyboard_port2" >
        </activity>
        <activity
            android:name=".KeyboardPort3"
            android:label="@string/title_activity_keyboard_port3" >
        </activity>
    </application>

</manifest>
